<h1>Edit Story Form</h1>
<%= form_for @story, url: { action: 'update' } do |f| %>
  <div><label for="title">Title</label></div>
  <%= f.text_field :title %>
  <div><label for="description">Description</label></div>
  <div><%= f.text_area :description %></div>
  <label for="share_work">Share Work</label>
  <div><%= f.check_box :share_work %></div>
  <div><%= submit_tag('Submit') %></div>
<% end %>
